<%- include('partials/header') %>

    <main>
        <h1>
            <%= title %>
        </h1>
        <p>Here are a few of our partner organizations:</p>
        <ul class="organization_box">
            <% organizations.forEach(organization => { %>
                <li class="organization_cards">
                    <img src="/images/<%= organization.logo %>" alt="<%= organization.organization_name %> logo">
                    <div>
                    <span><%= organization.description %></span>
                    <br>
                    <strong><%= organization.organization_name %></strong>
                    : <%= organization.contact_email %></li>
                    </div>
            <% }); %>
        </ul>
    </main>

<%- include('partials/footer') %>