<%- include('partials/header') %>

    <main>
        <h1>
            <%= title %>
        </h1>
        <h2>Upcoming Service Projects</h2>
        <ul class="project_box">
            <% projects.forEach(project => { %>
                <li class="project_box__card"><span ><%= project.project_date.toLocaleDateString('en-US') %>: </span><span><%= project.title %></span><span> (<%= project.organization_name %>)</span></li>
            <% }); %>
        </ul>
    </main>

<%- include('partials/footer') %>